KARGO_DEBUG=False
SECRET_KEY=buraya-guclu-ve-uzun-bir-secret-key-yazin
ALLOWED_HOSTS=site-adiniz.com,www.site-adiniz.com
CSRF_TRUSTED_ORIGINS=https://site-adiniz.com,https://www.site-adiniz.com
DATABASE_URL=postgresql://kibris_kargo:kibris_kargo@127.0.0.1:5432/kibris_kargo
KARGO_ADMIN_EMAIL=admin@example.com
KARGO_ADMIN_PASSWORD=guclu-bir-admin-sifresi-yazin
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_SSL_REDIRECT=True
